@font-face {
font-family:"Appleiie";
src: url("../fonts/PrintChar21.ttf") /* TTF file for CSS3 browsers */
}
body {
    color: rgba(114, 148, 126, 0.801);
    font-family: Appleiie;
    background-color: rgba(4, 12, 7, 0.911);
    text-transform: uppercase;
}
#wrapping {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .5%;
    background-color: rgb(10, 24, 16);
    height: 720px;
    width: 900px;
    border: 0 solid rgb(0, 0, 0);
    padding-left: 5px;
    letter-spacing: 2px;
    line-height: 2;
    overflow: hidden;
}
#consoleWindow {
    padding: 20px 2% 0 0;
    height: 97%;
    width: 102%;
    overflow-y: scroll;
}            
h1 {
    font-size: 175%;
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
.CursorBlink {
    opacity: 0;
}

            /* 
            @keyframes "blink" {
                from, to {color: transparent;}
                50% {color: rgba(109, 156, 126, 0.705);}
            }
            @-moz-keyframes blink {
                from, to {color: transparent;}
                50% {color: rgba(109, 156, 126, 0.705);}
            }
            @-webkit-keyframes "blink" {
                from, to {color: transparent;}
                50% {color: rgba(109, 156, 126, 0.705);}
            }
            @-ms-keyframes "blink" {
                from, to {color: transparent;}
                50% {color: rgba(109, 156, 126, 0.705);}
            }
            @-o-keyframes "blink" {
                from, to {color: transparent;}
                50% {color: rgba(109, 156, 126, 0.705);}
            } */