<!DOCTYPE html>
<html>
    <head>
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"> <!-- stop browser from caching while testing -->
        <meta name="viewport" content="user-scalable=0"> <!-- make ios not zoom when keyboard pops up -->
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/terminalCMS.css">
        <title>J3NKN5.CC</title> 
        
    </head>
    <body>
        <div id="wrapping">
            <div id="consoleWindow" class="crt">
                <div id="content" hx-get="md/intro.html" hx-trigger="load"></div>
 
                    
                <div>]<span id="textBox"></span><span class="blink" hx-ext="class-tools" classes="toggle CursorBlink:700ms" style="visibility:visible;">&block;</span>
                    <!-- a janky way to make mobile work by hiding a text input field and printing its contents to the home make console -->
                    <input type="text" id="textBoxInputElement" 
                        style="opacity:0; color:transparent;text-shadow: 0 0 0;text-indent: -9999em;z-index:-99;transform: scale(0);"
                        hx-get="https://langchain-workers.derelict.workers.dev/"
                        hx-trigger="keydown[keyCode==13]"
                        hx-target="#content"
                        name="q"
                    >
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $(document).keyup( function (event) {
                event.preventDefault(); // stop default key responses so console input will work particularly backspace.
                var textBoxString = $("#textBoxInputElement").val().toUpperCase();
                
                // submit console input
                if (event.which == 13) {
                    $("#content").text("Thinking...");
                    $("#textBox").html(""); // reset console input
                    $("#textBoxInputElement").val(""); // reset hidden text input box
                }
                // update console text with hidden text input value 
                else {
                    $("#textBox").text(textBoxString);
                }
            });
         
            // focus command line by tapping window since text field is hidden
            $("#consoleWindow").click( function(){
                $("#textBoxInputElement").focus();
            });

            // reload content on page reload
            $(window).on("load", function(){
                $("#textBoxInputElement").focus();
            });
        </script>
    </body>
</html>