<!doctype html>
<html>
  <head>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <!-- stop browser from caching while testing -->
    <!-- <meta name="viewport" content="user-scalable=0" /> -->
    <!-- make ios not zoom when keyboard pops up -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org@1.4.1/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="css/terminalCMS.css" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              apple: ["Appleiie"],
              ibm: ["IBM Plex Mono"],
            },
            screens: {
              sm: "640px",
              md: "768px",
              lg: "1024px",
              xl: "1440px",
            },
          },
        },
      };
    </script>
    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- Showdown Markdown -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
      integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var converter = new showdown.Converter();
    </script>
    <title>J3NKN5.CC</title>
  </head>
  <body class="bg-emerald-950 font-ibm" hx-ext="client-side-templates">
    <!-- MAIN CONSOLE WINDOW -->
    <div
      id="consoleWindow"
      class="flex flex-col place-content-between max-h-screen h-screen max-w-screen-lg bg-emerald-950 pl-4 pr-4 text-zinc-400"
    >
      <!-- MENU BAR -->
      <div
        id="menu"
        class="bg-white py-1 font-apple border-b-2 border-black relative sticky max-w-screen-lg"
        hx-trigger="load"
        hx-get="menu.html"
        hx-swaps="innerHTML"
      ></div>
      <div
        id="content"
        class="hidden"
        hx-trigger="load"
        hx-get="pages/intro"
        hx-swaps="innerHTML"
        _="on mutation 
          set fee to my.innerHTML 
          js(fee) return converter.makeHtml(fee) end 
          then put it into #content-markdown.innerHTML"
      ></div>
      <div id="content-markdown" class="grow overflow-auto"></div>

      <div
        class="flex-none bg-emerald-950 inset-x-0 bottom-0 bg-inheret pt-1 mb-2 sticky"
      >
        <div class="flex bg-inheret hidden">
          <span class="">]</span>
          <!-- <span class="animate-pulse" hx-ext="class-tools" classes="toggle CursorBlink:700ms" style="visibility:visible;">&block;</span> -->
          <input
            type="text"
            class="bg-emerald-950 focus:bg-emerald-950 hover:bg-emerald-950 autofill:bg-emerald-950 carot-white w-full focus:outline-none focus:ring-0 focus:border-transparent"
            id="textBoxInputElement"
            hx-get="https://api.j3nkn5.cc/"
            hx-trigger="keydown[keyCode==13]"
            hx-target="#content"
            hx-indicator="#spinner"
            hx-swap="beforeend scroll:bottom transition:true"
            hx-vals='{"llm": "true", "vectors": "true"}'
            mustache-template="foo"
            name="query"
            placeholder="Type your question here."
          />
        </div>
      </div>
    </div>
    <template id="foo">
      <span>___________________________</span>
      <p>ANSWER: {{query}}</p>
      <!-- prettier-ignore -->
      <p>VECTORS: 
        {{#vector}} 
        {{pageContent}} 
        {{metadata.filename}}<br/>
        {{/vector}}
      </p>
    </template>
    <template id="menu-item">
      <div
        id="menu"
        class="text-black tracking-tighter mx-3 font-extrabold font-apple"
        _="on mouseleave wait for a continue or 300ms 
        if the result's type is 'continue'
            show #sub-menu in me
        otherwise
            hide #sub-menu in me
            remove .bg-black .text-white from the first <button/> in me"
      >
        <button
          id="menu-btn"
          _="on click toggle the *display of the next <div/> toggle .bg-black .text-white on me"
        >
          {{menu-name}}
        </button>
        <div
          id="sub-menu"
          class="absolute bg-white py-1 font-apple border-b-2 border-black"
          _="on mouseenter send continue to the closest parent <div/>
        on load hide me"
          hx-get="{{pages}}"
          hx-trigger="load"
          hx-swap="beforeend"
        ></div>
      </div>
    </template>
  </body>
</html>
