<div id="menu-container" class="flex flex-row">
  <button
    id="logo-menu"
    class="text-black px-2 tracking-tighter font-extrabold font-apple"
    _="on click toggle .hidden on #logo-sub-menu"
  >
    ][
    <div
      id="logo-sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black hidden"
      _="on mouseleave toggle .hidden on #logo-sub-menu"
    ></div>
  </button>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <div
    id="file-menu"
    class="text-black tracking-tighter mx-3 font-extrabold font-apple"
    _="on mouseleave wait for a continue or 300ms 
        if the result's type is 'continue'
            show #file-sub-menu in me
        otherwise
            hide #file-sub-menu in me
            remove .bg-black .text-white from the first <button/> in me"
  >
    <button
      id="file-menu-btn"
      _="on click toggle the *display of the next <div/> toggle .bg-black .text-white on me"
    >
      File
    </button>
    <div
      id="file-sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black"
      _="on mouseenter send continue to the closest parent <div/>
        on load hide me"
      hx-get="pages/"
      hx-trigger="load"
      hx-swap="beforeend"
    ></div>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <div
    id="menu"
    class="text-black tracking-tighter mx-3 font-extrabold font-apple"
    _="on mouseleave wait for a continue or 300ms 
        if the result's type is 'continue'
            show #special-sub-menu in me
        otherwise
            hide #special-sub-menu in me
            remove .bg-black .text-white from the first <button/> in me"
  >
    <button
      id="menu-btn"
      _="on click toggle the *display of the next <div/> toggle .bg-black .text-white on me"
    >
      Special
    </button>
    <div
      id="special-sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black"
      _="on mouseenter send continue to the closest parent <div/>
        on load hide me"
      hx-get="pages/special"
      hx-trigger="load"
      hx-swap="beforeend"
    ></div>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->

  <button
    id="view-menu"
    class="text-black tracking-tighter px-3 font-extrabold font-apple hidden"
    _="on click toggle .hidden on #view-sub-menu"
  >
    View
    <div
      id="sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black hidden"
      _="on mouseleave toggle .hidden on #view-sub-menu"
    ></div>
  </button>
  <button
    id="startup-menu"
    class="text-black tracking-tighter px-3 font-extrabold font-apple hidden"
    _="on click toggle .hidden on #startup-sub-menu
          "
  >
    Startup
    <div
      id="startup-sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black hidden"
      _="on mouseleave toggle .hidden on #startup-sub-menu"
    ></div>
  </button>

  <button
    id="shortcuts-menu"
    class="text-black tracking-tighter px-3 font-extrabold font-apple hidden"
    _="on click toggle .hidden on #shortcuts-sub-menu
          "
  >
    Shortcuts
    <div
      id="shortcuts-sub-menu"
      class="absolute bg-white py-1 font-apple border-b-2 border-black hidden"
      _="on mouseleave toggle .hidden on #shortcuts-sub-menu"
    ></div>
  </button>
</div>
